.project {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

.project--name,
.project--desc {
    margin: 20px 0;
}

.project--name {
    color: var(--green);
}

.project--desc {
    color: var(--white);
    width: calc(var(--card-size) - 48px);
    overflow: hidden;
    line-height: 1.3;
    font-size: var(--text-md);
    text-align: start;
}

.project p {
    font-size: var(--text-md);
}

.project--desc span {
    text-wrap: nowrap;
}

.read-more {
    display: flex;
    justify-content: center;
    gap: 4px;
    width: fit-content;
}

.read-more--icon {
    width: 16px;
}

.expand-text {
    color: var(--green);
    white-space: nowrap;
}