.portfolio {
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* height: 600px;
    width: var(--card-size); */

    /* !!! this one is most important to be responsive one */
    /* height: fit-content; */
    /* !!! change to less in case of bigger devices (lets say 70) */
    /* and make card margin bigger and  */
    max-height: 90%;
    /* height: 90%; */
    width: 90%;

    margin: auto;

    /* overflow: hidden; */

    /* margin-top: 20px; */

    /* margin-bottom: 20px; */

    /* background-color: var(--white); */

    /* border-radius: 15%; */

    
}