.portfolio {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 90vh;
    margin-bottom: 20px;
    width: 90%;
    margin: auto;
}

.custom-pagination {
    display: flex;
    align-items: center;
    color: var(--green);
    font-size: var(--text-xxl);
    gap: 10px;
    margin-top: var(--card-margin);
    justify-content: space-between;
}

.custom-pagination p {
    margin: 0;
}

.custom-pagination > *:first-child {
    rotate: 180deg;
    margin-right: 20px;
}

.custom-pagination > *:last-child {
    margin-left: 20px;
}

.swipe {
    color: var(--white);
}

.swipe-active {
    color: var(--green);
}

.play-green {
    color: var(--green);
}

.play-white {
    color: var(--white);
}

@media screen and (orientation: portrait) {
    .custom-pagination {
      display: none;
    }
  }