.about {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90%;
    width: 90%;
    overflow: hidden;
}

.about-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.about-center .something-about,
.about-center .download-anchor {
    margin: var(--card-margin) 0;
}

.about-center a {
    text-decoration: none;
    border-radius: 15px;
}

.about-center a:focus-visible {
    box-shadow: var(--highlight-sm);
    outline: none;
}

.about-center button {
    padding: 0 24px;
}

.something-about {
    display: flex;
    flex-direction: column;
    color: var(--white);
    text-align: left;
    font-size: var(--text-md);
    max-width: 800px;
    gap: 12px;
    line-height: 1.4;
}

.something-about p {
    margin: 0;
}

.two-columns {
    display: flex;
    gap: 20px;
    max-width: 700px;
}

.two-columns .something-about:last-of-type {
    padding-left: 20px;
    border-left: 2px solid var(--green);
}

.mobile-icons {
    position: relative;
    height: 40px;
    margin: 10px 0;
}

.mobile-icons i {
    color: var(--green);
    font-size: 32px;
    margin-right: 12px;
}

.about-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.about-bottom-overlay-left,
.about-bottom-overlay-right {
    position: absolute;
    z-index: 99;
    bottom: 4%;
    width: 50%;
    height: 60px;
}

@media screen and (min-height: 1024px) {
    .mobile-icons {
        height: 60px;
    }

    .mobile-icons i {
        font-size: 48px;
        margin-right: 24px;
    }

    .about-bottom-overlay-left,
    .about-bottom-overlay-right {
        height: 90px;
    }
}

@media screen and (max-width: 800px) {
    .about-center {
        width: 70%;
    }
}