.card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--card-margin);
    border-radius: 15px;
    flex-shrink: 0;
    height: calc(var(--card-size) - (2 *(var(--card-margin))));
    width: calc(var(--card-size) - (2 *(var(--card-margin))));
    /* height: 400px;
    width: 400px; */
    overflow: hidden;
    box-shadow: var(--highlight-sm);
    cursor: pointer;
}

.card:hover {
    box-shadow: var(--highlight-md);
}

.card a {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.card-image {
    height: 92%;
    width: 92%;
    border-radius: 10px;
}