.card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--card-margin);
    border-radius: 10%;
    flex-shrink: 0;
    height: calc(var(--card-size) - (2 *(var(--card-margin))));
    width: calc(var(--card-size) - (2 *(var(--card-margin))));
    overflow: hidden;
    box-shadow: var(--highlight-sm);
}

.card a {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.card-image {
    height: 110%;
    width: 110%;
}