:root {
  /* --dark: #283739; */
  /* --dark: #191919; */
  --dark: #050301;
  --dark-lighter: #0c0905;
  --dark-green: #2C5D63;
  --light-green: #A9C52F;
  --white: #F5F5F5;

  /* --test: #0e3b3b; */
  --test: #0b3232;
  /* --sample: #46c1b0; */
  /* --sample: #216259; */
  --sample: #1a4e47;
  --wrong: #4e1a1a;
  --green: #55fc75;


  /* for responsivness */
  --card-size: 320px;
  --card-margin: 20px;

  --pagination-margin: 24px;

  --highlight-sm: 0 0 12px 8px var(--sample);
  --highlight-sm-wrong: 0 0 12px 8px var(--wrong);
  --highlight-md: 0 0 24px 16px var(--sample);

  /* font sizes */
  /* mobile - major second */
  --major-2-xs: 13px;
  --major-2-sm: 14px;
  --major-2-md: 16px;
  --major-2-lg: 18px;
  --major-2-xl: 20px;
  --major-2-xxl: 23px;
  --major-2-giant: 26px;

  /* other - major third */
  --major-3-xs: 11px;
  --major-3-sm: 13px;
  --major-3-md: 16px;
  --major-3-lg: 20px;
  --major-3-xl: 25px;
  --major-3-xxl: 31px;
  --major-3-giant: 39px;


}

#app {
  /* box-sizing: border-box; */
  height: 100%;
}

html,
body {
  /* box-sizing: border-box; */
  position: relative;
  height: calc(100% + 1px);
  width: calc(100% + 1px);
}

body {
  /* background: rgb(0,8,3); */
  background: radial-gradient(circle, rgba(0,8,3,1) 0%, rgba(5,3,1,1) 25%, rgba(3,0,0,1) 100%);
  /* background-size: 101% 101%; */
  font-size: 14px;
  /* color: red; */
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: var(--white); */

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardSwiper {
  position: relative;
  overflow: visible;
}

.cardSwiper .swiper-slide {
  align-items: flex-start;

}

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.cardSwiper .swiper-pagination {
  bottom: -30px;
  /* display: none; */
}

.mainSwiper .swiper-pagination-bullet {
  width: 16px;
  height: 16px;

}

.mainSwiper .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 12px 0;
}

.cardSwiper .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px;
}

.cardSwiper .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
}

.swiper-pagination-bullet {
  background: var(--green);
}

.non-visible {
  visibility: hidden;
}

.display-none {
  display: none;
}

@media screen and (max-width: 1024px) {

  /* disable swiper pagination in smaller devices */
  .mainSwiper>.swiper-pagination {
    display: none;
  }
}

@media screen and (min-width: 1024px) and (min-height: 620px) {

  .cardSwiper .swiper-pagination {
    /* bottom: -30px; */
    display: none;
  }

}