:root {
  --dark: #050301;
  --dark-lighter: #0c0905;
  --dark-green: #2C5D63;
  --light-green: #A9C52F;
  --white: #F5F5F5;
  --sample: #1a4e47;
  --green: #55fc75;
  --green-lighter: #87fc9e;
  --green-darker: #04e72f;

  --card-size: 320px;
  --card-margin: 20px;

  --pagination-margin: 24px;

  --highlight-sm: 0 0 12px 8px var(--sample);
  --highlight-md: 0 0 24px 16px var(--sample);

  /* font sizes */
  /* mobile - major second */
  --major-2-xs: 13px;
  --major-2-lg: 18px;
  --major-2-giant: 26px;

  --major-2-sm: 14px;
  --major-2-md: 16px;
  --major-2-xl: 20px;
  --major-2-xxl: 23px;

  /* other - major third */
  --major-3-xs: 11px;
  --major-3-sm: 13px;
  --major-3-md: 16px;
  --major-3-lg: 20px;
  --major-3-xl: 25px;
  --major-3-xxl: 31px;
  --major-3-giant: 39px;



  --text-sm: var(--major-3-sm);
  --text-md: var(--major-3-md);
  --text-xl: var(--major-3-xl);
  --text-xxl: var(--major-3-xxl);
}

.god {
  width: 100%;
  height: 100%;
}

html,
body {
  position: relative;
  height: 100%;
  width: 100%;
}

body {
  background: var(--dark);
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.warning-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 400px;
  max-width: 80%;
  margin: auto;
}

.warning-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 20px auto;
  font-size: var(--text-md);
}

.warning-text p {
  margin: 0;
}

.glitch-text {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  margin: 20 0;
}

.glitch-text span {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.glitch-top {
  clip-path: polygon(0 0, 100% 0, 100% 34%, 0 51%);
}

.glitch-middle {
  clip-path: polygon(0 54%, 100% 32%, 100% 49%, 0 64%);
}

.glitch-bottom {
  clip-path: polygon(0 100%, 100% 100%, 100% 49%, 0 64%);
}

.warning-page .title {
  font-size: 20px;
}

.warning-buttons {
  display: flex;
  gap: 40px;
  margin: var(--card-margin) 20px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.mainSwiper {
  background: radial-gradient(circle, rgba(0, 8, 3, 1) 0%, rgba(5, 3, 1, 1) 25%, rgba(3, 0, 0, 1) 110%);
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardSwiper {
  position: relative;
}

.cardSwiper .swiper-slide {
  align-items: flex-start;
}

.cardSwiper .swiper-pagination {
  position: relative;
  margin-top: var(--card-margin);
}

.mainSwiper .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
}

.mainSwiper .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 12px 4px;
}

.cardSwiper .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px;
}

.cardSwiper .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
}

.swiper-pagination-bullet {
  background: var(--green);
}

.non-visible {
  visibility: hidden;
}

.display-none {
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 0 8px 8px 0;
}

::-webkit-scrollbar-thumb {
  background: var(--green);
  border-radius: 0 8px 8px 0;
  padding: 20px;
}

@media screen and (orientation: portrait),
(hover: none),
(hover: on-demand),
(-moz-touch-enabled: 1),
(pointer:coarse) {
  .mainSwiper>.swiper-pagination {
    display: none;
  }
}

@media screen and (orientation: landscape) {
  .cardSwiper>.swiper-pagination {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --text-sm: var(--major-2-sm);
    --text-md: var(--major-2-md);
    --text-xl: var(--major-2-xl);
    --text-xxl: var(--major-2-xxl);
  }

  .warning-page .title {
    font-size: 14px;
  }

  .warning-buttons {
    gap: 20px;
  }
}