:root {
    --icon-size: 30px;
}

.home {
    display: grid;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    line-height: 1.2;
}

.home--circle {
    position: absolute;
    opacity: 0;
    background-color: var(--green);
    border-radius: 100%;
    color: var(--sample);
    box-shadow: 0 0 24px 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home--poster {
    position: relative;
    margin: 16px;
    padding: 12px;
    border-radius: 100%;
    background-color: var(--dark);
    color: var(--sample);
    box-shadow: inset 0 0 24px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 50vw;
}

.cta-container {
    position: relative;
    width: 95%;
    height: 95%;
    display: flex;
    justify-content: center;
}

.cta {
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0;
    height: 50%;
    font-size: var(--text-xl);
    font-weight: 500;
    transform-origin: bottom;
}

.home--image {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transform: translate(5%, 15%);
}

.home img {
    display: block;
    width: 100%;
    height: auto;
}

.home--image img {
    filter: brightness(1.1);

}

.home h1 {
    font-size: var(--text-xl);
}

.top--left,
.top--right,
.bottom--left,
.bottom--right {
    width: fit-content;
}

.bottom--left h1 {
    text-align: left;
    margin: 0;
}

.top--right h1 {
    text-align: right;
    margin: 0;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 24px;
}

.top--left {
    color: var(--green);
}

.top--left .logo {
    width: 80px;
}

.top--right {
    color: var(--white);
    line-height: 1.5;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 24px;
}

.bottom--left {
    color: var(--white);
}

.bottom--right {
    color: var(--green);
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    height: 24px;
}

.icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--icon-size) * 1.8);
    width: calc(var(--icon-size) * 1.8);
    border-radius: 100%;
    border: 2px solid transparent;
}

.icons a:hover,
.icons a:focus {
    box-shadow: var(--highlight-sm);
    border: 2px solid var(--sample);
    outline: none;
}

.icons a:active {
    background-color: var(--green);
}

.icons a:active .icon {
    color: var(--dark);
}

.icon {
    height: var(--icon-size);
    width: var(--icon-size);
    color: var(--green);
}

@media screen and (max-width: 1280px) {}

@media screen and (max-width: 768px) {
    :root {
        --icon-size: 20px;
    }

    .cta {
        font-size: var(--text-sm);
    }

    .top--left .logo {
        width: 60px;
    }
}

@media only screen and (orientation: portrait) {
    .home--poster {
        width: 100vw;
        height: 100vw;
    }

    .home--circle {
        transform: translate(-50%, -55%);
    }
}

@media only screen and (min-aspect-ratio: 1/1.9) and (orientation: portrait) {
    .home--poster {
        width: 85vw;
        height: 85vw;
    }
}

@media only screen and (min-aspect-ratio: 2/3) and (orientation: portrait) {
    .home--poster {
        width: 75vw;
        height: 75vw;
    }

    .home--circle {
        transform: translate(-50%, -60%);
    }
}

@media only screen and (min-aspect-ratio: 3/4) and (orientation: portrait) {
    .home--poster {
        width: 65vw;
        height: 65vw;
    }
}

@media only screen and (min-aspect-ratio: 5/6) and (orientation: portrait) {
    .home--poster {
        width: 55vw;
        height: 55vw;
    }
}

@media only screen and (max-aspect-ratio: 5/4) and (orientation: landscape) {
    .home--poster {
        width: 50vw;
        height: 50vw;
    }

    .home--circle {
        transform: translate(-50%, -60%);
    }
}

@media only screen and (min-aspect-ratio: 5/4) and (orientation: landscape) {
    .home--poster {
        width: 50vw;
        height: 50vw;
    }

    .home--circle {
        transform: translate(-50%, -50%);
    }
}

@media only screen and (min-aspect-ratio: 3/2) and (orientation: landscape) {
    .home--poster {
        width: 50vw;
        height: 50vw;
    }
}

@media only screen and (min-aspect-ratio: 16/9) and (orientation: landscape) {
    .home--poster {
        width: 45vw;
        height: 45vw;
    }
}

@media only screen and (min-aspect-ratio: 21/9) and (orientation: landscape) {
    .home--poster {
        width: 38vw;
        height: 38vw;
    }
}