.contact {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.contact-me {
    margin: var(--card-margin) 0;
    color: var(--green);
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group label,
.input-group input,
.input-group textarea {
    background-color: var(--dark);
}

.input-group label,
.input-group input,
.input-group textarea {
    color: var(--white);
}

.input-group,
.input-group label,
.input-group input,
.input-group textarea {
    border-radius: 15px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form p {
    font-size: var(--text-md);
    margin: 16px;
}

.user-data {
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    border: 2px solid var(--sample);
    margin: 16px 20px;
}

.input-group label {
    font-size: var(--text-sm);
    line-height: 1.4;
    position: absolute;
    top: -10px;
    left: 20px;
    padding: 0 5px;
    color: var(--green);
}

.input-group input {
    height: 32px;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 8px 12px;
    border: none;
}

.input-group input,
.input-group textarea {
    line-height: 1.4;
    font-size: var(--text-md);
    outline: none;
}

.credentials,
.message,
.contact-buttons {
    width: 300px;
}

.input-group textarea {
    border: none;
    resize: none;
    height: 160px;
    padding: 14px 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-buttons {
    display: flex;
    justify-content: space-between;
    margin: 16px 20px;
}

.contact-buttons button {
    width: 45%;
}

input:focus {
    box-shadow: var(--highlight-sm);
}

textarea:focus-visible {
    box-shadow: var(--highlight-sm);
}

button:focus {
    box-shadow: var(--highlight-sm);
}

@media screen and (min-width: 1280px) {
    .user-data {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .message {
        width: 640px;
    }

    .contact-buttons {
        justify-content: space-between;
        width: 640px;
    }

    .contact-form .contact-buttons button {
        width: 300px;
    }    
}

@media screen and (min-height: 800px) {
    .input-group textarea {
        height: 240px;
    }    
}